* {
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100vw;
    height: 100vh;
}

.container-left {
    display: inline-block;
    width: 60%;

}

.container-right {
    display: inline-block;
    background-color: rgba(93,93,125,0.16);
    height: 100vh;
    width: 40%;
    position: absolute;
}

img {
    position: relative;
    top: 25%;
    right: 130px;
}