* {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sessões {
    height: 29px;
    width: 90px;
    font-weight: 600;
    font-size: 24px;
    color: #989D9C;
    cursor: pointer;
    margin-right: 23px;
}

header {
     margin: 44px 0 144px 76px;
}

.botão {
    width: 130px;
    height: 41px;
    font-size: 24px;
    line-height: 29px;
    border-radius: 20.5px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #665AE1;
    border: none;
    cursor: pointer;
}

.img-we-care {
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;
}

section {
    display:inline-block;
    margin-left: 86px;
}

.corpo {
    width: 513px;
    height: 122px;
    font-weight: 600;
    font-size: 100px;
    color: #515151;
}

.text-2 {
    width: 448px;
    height: 71px;
    font-weight: 500;
    font-size: 58px;
    color: #515151;
}

.paragrafo {
    width: 515px;
    line-height: 29px;
    font-size: 24px;
    font-weight: 400;
    color: #848484;
    margin-top: 32px;
    margin-bottom: 85px;
}


button {
    position:relative;
}

.botão-2 {
    width: 239px;
    height: 64px;
    border-radius: 50px;
    font-size: 28px;
    background-color: #89F336;
    border-color: rgba(0, 0, 0, 0.25);
    border: none;
    cursor: pointer;
}
